node.exe : warn The configuration property `package.json#prisma` is deprecated and will be removed in Prisma 7. Please 
migrate to a Prisma config file (e.g., `prisma.config.ts`).
At line:1 char:1
+ & "C:\Program Files\nodejs/node.exe" "C:\Program Files\nodejs/node_mo ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (warn The config...ma.config.ts`).:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
For more information, see: https://pris.ly/prisma-config

-- DropForeignKey
ALTER TABLE "report_approval_history" DROP CONSTRAINT "report_approval_history_reportId_fkey";

-- DropForeignKey
ALTER TABLE "report_approval_history" DROP CONSTRAINT "report_approval_history_userId_fkey";

-- DropForeignKey
ALTER TABLE "reports" DROP CONSTRAINT "reports_approvedByUserId_fkey";

-- DropForeignKey
ALTER TABLE "reports" DROP CONSTRAINT "reports_checkedByUserId_fkey";

-- DropForeignKey
ALTER TABLE "reports" DROP CONSTRAINT "reports_createdBy_fkey";

-- DropForeignKey
ALTER TABLE "reports" DROP CONSTRAINT "reports_preparedById_fkey";

-- DropForeignKey
ALTER TABLE "reports" DROP CONSTRAINT "reports_projectId_fkey";

-- AlterTable
ALTER TABLE "master_data" ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updatedAt" DROP DEFAULT,
ALTER COLUMN "updatedAt" SET DATA TYPE TIMESTAMP(3);

-- DropTable
DROP TABLE "report_approval_history";

-- DropTable
DROP TABLE "reports";

-- DropEnum
DROP TYPE "ReportType";

-- CreateTable
CREATE TABLE "part_reports" (
    "id" UUID NOT NULL,
    "projectId" UUID NOT NULL,
    "reportName" VARCHAR(255) NOT NULL,
    "reportStatus" "ReportStatus" NOT NULL DEFAULT 'GENERATED',
    "createdById" UUID NOT NULL,
    "preparedById" UUID,
    "checkedById" UUID,
    "checkedByName" VARCHAR(100),
    "approvedById" UUID,
    "approvedByName" VARCHAR(100),
    "data" JSONB NOT NULL,
    "formatNumber" VARCHAR(100),
    "reportNumber" VARCHAR(100),
    "lastActionBy" VARCHAR(100),
    "lastActionType" VARCHAR(50),
    "lastActionAt" TIMESTAMP(3),
    "rejectionHistory" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "part_reports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "test_part_lists" (
    "id" UUID NOT NULL,
    "partReportId" UUID NOT NULL,
    "status" "ReportStatus" NOT NULL DEFAULT 'GENERATED',
    "checkedById" UUID,
    "checkedByName" VARCHAR(100),
    "approvedById" UUID,
    "approvedByName" VARCHAR(100),
    "formData" JSONB NOT NULL,
    "lastActionBy" VARCHAR(100),
    "lastActionType" VARCHAR(50),
    "lastActionAt" TIMESTAMP(3),
    "rejectionHistory" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "test_part_lists_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "part_report_approval_history" (
    "id" UUID NOT NULL,
    "partReportId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "action" VARCHAR(50) NOT NULL,
    "status" VARCHAR(50) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "part_report_approval_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "test_part_list_approval_history" (
    "id" UUID NOT NULL,
    "testPartListId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "action" VARCHAR(50) NOT NULL,
    "status" VARCHAR(50) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "test_part_list_approval_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "summary_reports" (
    "id" UUID NOT NULL,
    "projectId" UUID NOT NULL,
    "reportStatus" "ReportStatus" NOT NULL DEFAULT 'GENERATED',
    "preparedById" UUID,
    "checkedById" UUID,
    "checkedByName" VARCHAR(100),
    "approvedById" UUID,
    "approvedByName" VARCHAR(100),
    "data" JSONB NOT NULL,
    "formatNumber" VARCHAR(100),
    "reportNumber" VARCHAR(100),
    "lastActionBy" VARCHAR(100),
    "lastActionType" VARCHAR(50),
    "lastActionAt" TIMESTAMP(3),
    "rejectionHistory" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "summary_reports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "test_summary_lists" (
    "id" UUID NOT NULL,
    "summaryReportId" UUID NOT NULL,
    "status" "ReportStatus" NOT NULL DEFAULT 'GENERATED',
    "checkedById" UUID,
    "checkedByName" VARCHAR(100),
    "approvedById" UUID,
    "approvedByName" VARCHAR(100),
    "formData" JSONB NOT NULL,
    "lastActionBy" VARCHAR(100),
    "lastActionType" VARCHAR(50),
    "lastActionAt" TIMESTAMP(3),
    "rejectionHistory" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "test_summary_lists_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "summary_report_approval_history" (
    "id" UUID NOT NULL,
    "summaryReportId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "action" VARCHAR(50) NOT NULL,
    "status" VARCHAR(50) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "summary_report_approval_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "test_summary_list_approval_history" (
    "id" UUID NOT NULL,
    "testSummaryListId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "action" VARCHAR(50) NOT NULL,
    "status" VARCHAR(50) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "test_summary_list_approval_history_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "part_reports_projectId_idx" ON "part_reports"("projectId");

-- CreateIndex
CREATE INDEX "part_reports_createdById_idx" ON "part_reports"("createdById");

-- CreateIndex
CREATE INDEX "part_reports_reportStatus_idx" ON "part_reports"("reportStatus");

-- CreateIndex
CREATE INDEX "part_reports_createdAt_idx" ON "part_reports"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "test_part_lists_partReportId_key" ON "test_part_lists"("partReportId");

-- CreateIndex
CREATE INDEX "test_part_lists_partReportId_idx" ON "test_part_lists"("partReportId");

-- CreateIndex
CREATE INDEX "part_report_approval_history_partReportId_idx" ON "part_report_approval_history"("partReportId");

-- CreateIndex
CREATE INDEX "part_report_approval_history_userId_idx" ON "part_report_approval_history"("userId");

-- CreateIndex
CREATE INDEX "test_part_list_approval_history_testPartListId_idx" ON "test_part_list_approval_history"("testPartListId");

-- CreateIndex
CREATE INDEX "test_part_list_approval_history_userId_idx" ON "test_part_list_approval_history"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "summary_reports_projectId_key" ON "summary_reports"("projectId");

-- CreateIndex
CREATE INDEX "summary_reports_projectId_idx" ON "summary_reports"("projectId");

-- CreateIndex
CREATE INDEX "summary_reports_reportStatus_idx" ON "summary_reports"("reportStatus");

-- CreateIndex
CREATE INDEX "summary_reports_createdAt_idx" ON "summary_reports"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "test_summary_lists_summaryReportId_key" ON "test_summary_lists"("summaryReportId");

-- CreateIndex
CREATE INDEX "test_summary_lists_summaryReportId_idx" ON "test_summary_lists"("summaryReportId");

-- CreateIndex
CREATE INDEX "summary_report_approval_history_summaryReportId_idx" ON "summary_report_approval_history"("summaryReportId");

-- CreateIndex
CREATE INDEX "summary_report_approval_history_userId_idx" ON "summary_report_approval_history"("userId");

-- CreateIndex
CREATE INDEX "test_summary_list_approval_history_testSummaryListId_idx" ON "test_summary_list_approval_history"("testSummaryListId");

-- CreateIndex
CREATE INDEX "test_summary_list_approval_history_userId_idx" ON "test_summary_list_approval_history"("userId");

-- AddForeignKey
ALTER TABLE "part_reports" ADD CONSTRAINT "part_reports_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "part_reports" ADD CONSTRAINT "part_reports_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "part_reports" ADD CONSTRAINT "part_reports_preparedById_fkey" FOREIGN KEY ("preparedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "part_reports" ADD CONSTRAINT "part_reports_checkedById_fkey" FOREIGN KEY ("checkedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "part_reports" ADD CONSTRAINT "part_reports_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "test_part_lists" ADD CONSTRAINT "test_part_lists_partReportId_fkey" FOREIGN KEY ("partReportId") REFERENCES "part_reports"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "test_part_lists" ADD CONSTRAINT "test_part_lists_checkedById_fkey" FOREIGN KEY ("checkedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "test_part_lists" ADD CONSTRAINT "test_part_lists_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "part_report_approval_history" ADD CONSTRAINT "part_report_approval_history_partReportId_fkey" FOREIGN KEY ("partReportId") REFERENCES "part_reports"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "part_report_approval_history" ADD CONSTRAINT "part_report_approval_history_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "test_part_list_approval_history" ADD CONSTRAINT "test_part_list_approval_history_testPartListId_fkey" FOREIGN KEY ("testPartListId") REFERENCES "test_part_lists"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "test_part_list_approval_history" ADD CONSTRAINT "test_part_list_approval_history_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "summary_reports" ADD CONSTRAINT "summary_reports_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "summary_reports" ADD CONSTRAINT "summary_reports_preparedById_fkey" FOREIGN KEY ("preparedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "summary_reports" ADD CONSTRAINT "summary_reports_checkedById_fkey" FOREIGN KEY ("checkedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "summary_reports" ADD CONSTRAINT "summary_reports_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "test_summary_lists" ADD CONSTRAINT "test_summary_lists_summaryReportId_fkey" FOREIGN KEY ("summaryReportId") REFERENCES "summary_reports"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "test_summary_lists" ADD CONSTRAINT "test_summary_lists_checkedById_fkey" FOREIGN KEY ("checkedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "test_summary_lists" ADD CONSTRAINT "test_summary_lists_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "summary_report_approval_history" ADD CONSTRAINT "summary_report_approval_history_summaryReportId_fkey" FOREIGN KEY ("summaryReportId") REFERENCES "summary_reports"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "summary_report_approval_history" ADD CONSTRAINT "summary_report_approval_history_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "test_summary_list_approval_history" ADD CONSTRAINT "test_summary_list_approval_history_testSummaryListId_fkey" FOREIGN KEY ("testSummaryListId") REFERENCES "test_summary_lists"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "test_summary_list_approval_history" ADD CONSTRAINT "test_summary_list_approval_history_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

